<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356084997918-iq9aeiqv1bdv2jdk3pnhv5n2snnr7et0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356084997918-iq9aeiqv1bdv2jdk3pnhv5n2snnr7et0</string>
	<key>API_KEY</key>
	<string>AIzaSyC1-nny3NSRU2dCxElDEpHVeXAXDRmxMVM</string>
	<key>GCM_SENDER_ID</key>
	<string>356084997918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gelinger.jazida</string>
	<key>PROJECT_ID</key>
	<string>jazida-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>jazida-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356084997918:ios:1f48f8cb7cce20729a730f</string>
</dict>
</plist>